/* styles.css */
.pre-loader {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Ensure body takes full height */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.fade-out {
    animation: fadeOut 0.5s forwards; /* Fade out animation */
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
        display: hidden;
    }
}

.pre-loader.hidden {
    animation: fadeOut 2s; /** change to 1s */
    animation-fill-mode: forwards;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.loader {
    width: 11rem; /* Adjust size as needed */
    height: 11rem; /* Adjust size as needed */
    animation: glow 2s infinite, pulse 1.5s infinite; /* Add glow and pulse animations */
}

@keyframes glow {
    0% { opacity: 0.9; }
    50% { opacity: 1; }
    100% { opacity: 0.9; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } /* Scale up */
    100% { transform: scale(1); } /* Scale back to original */
}

.ccontent {
    display: none; /* Initially hidden */
}